<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
		
		 <!--Important Owl stylesheet -->
		<link rel="stylesheet" href="scripts/owl-carousel/owl.carousel.css">
 
		 <!--Default Theme -->
		<link rel="stylesheet" href="scripts/owl-carousel/owl.theme.css">
 
		  <!--jQuery 1.7+  -->
		<script src="scripts/jquery-1.11.2.js"></script>
 
		 <!--Include js plugin -->
		<script src="scripts/owl-carousel/owl.carousel.js"></script>
		
		<!--Include angular-->
		<script src="scripts/angular.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<script>
    		$(document).ready(function() {
     
    		  $("#featured-items").owlCarousel({
    			  items : 2
    		  });
    		  
    		  var products = document.getElementById('product-grid').children;
    		  var i;
    		  for (i = 0; i < products.length; i++) {
    		  	var product = products[i].children[0]
    		  	$("#"+ product.id).owlCarousel(
        			{
        				items : 1
        			}
        		);
    			}
    		});
  			
  			function triggerRight(elem) {
  				var productId = elem.id.split("-")[2];
  				$("#"+ elem.id).click(function(){
				      $("#product-"+productId).trigger('owl.next');
				  })
  			}
    	</script>
	</head>
	<body ng-app>
	  <div class="top-menu">
			<div class="Logo">
				<a href="/">
					<h1>Handicraft Store</h1>
				</a>
			</div>
			<div class="options">
				<p id="new"/>
			</div>
		</div>
		<div class="owl-carousel" id="featured-items" ng-init="featuredItems=[{name:'WoodenElephant', image:'images/WoodenElephant.jpg'}, {name:'AfricanHandicrafts', image:'images/AfricanHandicrafts.jpg'}, {name:'HappyOwl', image:'images/HappyOwl.jpg'}, {name:'SunHandicraft', image:'images/SunHandicraft.jpg'}]">
			<div class="item" ng-repeat="featuredItem in featuredItems">
				<img src="{{featuredItem.image}}" />
			</div>
      
		</div>
		
		<div class="todays-picks">
			<div class="heading">
				<a href="all.html">Our Products</a>
			</div>
			<div class="product-grid" id="product-grid" ng-init="products=[{id:1, name:'Handicraft', price:20, image:'images/Handicraft.jpg'}, {id:2, price:20, name:'Antique Shell', image:'images/AntiqueShell.jpg'}, {id:3, price:30, name:'Wooden Bike', image:'images/WoodenBike.jpg'}, {id:4, price:40, name:'Peacock', image:'images/peacock.jpg'}]">
				
				<div class="product" ng-repeat="product in products" class="col-sm-4">
					<div>
				      <div class="product-item">
				  			<img src="{{product.image}}" class="img-thumbnail"/>
							</div>
					</div>
					<div id="product-price">${{product.price}}</div>
					<div id="product-name">{{product.name}}</div>
				</div>
		</div>
	</div>
	
	<script>
		function featuredCtrl($scope) {
			scope.featuredItems = [{name: "WoodenElephant", image: "images/WoodenElephant.jpg"}, {name: "AfricanHandicrafts", image: "images/AfricanHandicrafts.jpg"}, {name: "HappyOwl", image: "images/HappyOwl.jpg"}, {name: "SunHandicraft", image: "images/SunHandicraft.jpg"}];
		};
		
		function productCtrl($scope) {
			scope.products = [{id:1, name:'Handicraft', price:20, image:'images/Handicraft.jpg'}, {id:2, price:20, name:'Antique Shell', image:'images/AntiqueShell.jpg'}, {id:3, price:30, name:'Wooden Bike', image:'images/WoodenBike.jpg'}, {id:4, price:40, name:'Peacock', image:'images/peacock.jpg'}];
		};
	</script>
	</body>